.caixa__h1, .titulo {
  font-size: 4.78rem;
  line-height: 1;
}
@media (max-width: 48.125rem) {
  .caixa__h1, .titulo {
    font-size: 3.98rem;
  }
}
@media (max-width: 30rem) {
  .caixa__h1, .titulo {
    font-size: 3.32rem;
  }
}

.passo__titulo, .caixa__subtitulo, .subtitulo {
  font-size: 2.76rem;
  line-height: 1.2;
  font-weight: 700;
}

.popup__botao, .botao {
  border-radius: 5rem;
  padding: 1rem 2.5rem;
  cursor: pointer;
  border: solid 2px #000;
  border-right-width: 4px;
  border-bottom-width: 4px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.92rem;
}
.popup__botao:hover, .botao:hover {
  border-width: 3px;
}

.popup__botao--amarelo, .botao--amarelo {
  background-color: #ffd24a;
  color: rgb(16.1, 37.375, 52.9);
  border-color: rgb(150.5, 113.0828729282, 0);
}

.botao--centralizado {
  align-self: center;
}

@media (max-width: 48.125rem) {
  .botao--texto-pequeno {
    font-size: 1.6rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 60.625rem) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 54.125rem) {
  html {
    font-size: 50%;
  }
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

/**
 * Basic typography style for copy text
 */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #1a1b1f;
}

b,
strong {
  font-weight: 600;
}

.titulo {
  font-weight: 500;
}
.titulo span {
  color: #256783;
  font-weight: 600;
}
@media (max-width: 30rem) {
  .titulo--pequeno {
    font-size: 2.76rem;
  }
}

.subtitulo {
  color: white;
}
.subtitulo span {
  color: #eebe2a;
}

.secao {
  display: flex;
  flex-flow: column;
  padding: 6.1rem 2rem;
}

.container {
  display: flex;
  max-width: 100rem;
  margin: auto;
}

.grid {
  display: grid;
}

.caixa {
  z-index: 1;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  background-color: #f1f1f1;
  margin-bottom: 6.1rem;
  border-radius: 2.5rem;
  padding: 3.12rem 2.5rem;
  max-width: 50%;
  box-shadow: inset 0 0 1rem 0.2rem rgba(0, 0, 0, 0.3);
}
@media (max-width: 48.125rem) {
  .caixa {
    margin-bottom: 0;
    max-width: 53rem;
  }
}
.caixa__div-logo {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%, -25%);
  background-color: #f1f1f1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 0rem;
  width: 6.5rem;
  height: 6.5rem;
  padding: 1.2rem;
  box-shadow: inset 0 0 0.8rem rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.caixa__titulos {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 0.65rem;
}
.caixa__h1 {
  color: #1c415c;
  text-align: center;
}
.caixa__subtitulo--cinza {
  color: #4b4d4d;
}
.caixa__lista {
  list-style: none;
  font-size: 1.92rem;
  line-height: 1.2;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 0.82rem;
}
.caixa__item-lista {
  display: flex;
  flex-flow: row nowrap;
  align-items: start;
  justify-content: start;
  gap: 0.82rem;
}
.caixa__icone {
  width: 1.8rem;
  margin-top: 0.21rem;
}

.rodape {
  padding: 4.88rem 2rem;
}
.rodape__logo {
  width: 3.7rem;
  height: 3.7rem;
}
@media (max-width: 30rem) {
  .rodape__logo {
    width: 4rem;
    height: 4rem;
  }
}

.container--rodape {
  justify-content: end;
  align-items: center;
  gap: 0.8rem;
}
@media (max-width: 48.125rem) {
  .container--rodape {
    justify-content: center;
  }
}
@media (max-width: 30rem) {
  .container--rodape {
    flex-flow: column;
    justify-content: center;
  }
  .container--rodape p {
    display: none;
  }
}
.container--rodape a {
  text-decoration: none;
  color: inherit;
}

.popup--aberto .popup {
  display: flex;
}

.popup {
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(3px);
}
.popup__container {
  background-color: #fff;
  width: 50rem;
  max-width: 95%;
  box-shadow: inset 0 0 1rem 0.5rem rgba(0, 0, 0, 0.15);
  padding: 3.12rem;
  border-radius: 2rem;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 2rem;
}
.popup__inputs {
  display: flex;
  flex-flow: column;
  gap: 0.8rem;
}
.popup__input {
  padding: 0.82rem 1.28rem;
  border-radius: 2rem;
  border: solid 2px #000;
  font-size: inherit;
}
.popup__input--amarelo {
  border-color: #eebe2a;
}
.popup__input:focus-visible {
  outline: none;
  box-shadow: 0 0 1rem rgba(238, 190, 42, 0.5);
}
.popup__fechar {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%, -25%);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.92rem;
  font-weight: 700;
  line-height: 1;
  border: solid 2px #000;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}
.popup__fechar--amarelo {
  border-color: rgb(117.6130434783, 91.1086956522, 9.3869565217);
  background-color: #eebe2a;
}
.popup__fechar:hover {
  border-width: 1.9px;
}

.secao--hero {
  background-image: url(https://assets-global.website-files.com/61b9e0dd381626819c8d4f83/64957938a8a62d8071397ed5_pgc-python-bg1.webp);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  padding-bottom: 0;
  overflow: hidden;
}
@media (max-width: 48.125rem) {
  .secao--hero {
    background-image: url(https://assets-global.website-files.com/61b9e0dd381626819c8d4f83/6495797b607323070bcf5e17_pgc-python-bg1-mobile.webp);
  }
}
@media (max-width: 30rem) {
  .secao--hero {
    padding: 3.88rem 2rem 0;
  }
}
.secao--disclaimer {
  background-color: #e1e1e1;
  padding: 3.12rem 2rem;
  box-shadow: 0 0.5rem 1rem -0.2rem rgba(0, 0, 0, 0.15);
}
.secao--organizando {
  background-image: url(https://assets-global.website-files.com/61b9e0dd381626819c8d4f83/62cefb1ecf7f4662905b5b1e_%5BBACKGROUND%5D%20-%20BANNER%2005%20-%20desktop.webp);
  background-position-x: 50%;
  background-position-y: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 21rem;
  padding-bottom: 0;
  margin-top: -10rem;
}
@media (max-width: 48.125rem) {
  .secao--organizando {
    background-image: url(https://assets-global.website-files.com/61b9e0dd381626819c8d4f83/62cefd163d834a0c0b773480_%5BBACKGROUND%5D%20-%20BANNER%2005%20-%20mobile.webp);
    padding-top: 12rem;
    margin-top: -5rem;
  }
}

.container--hero {
  position: relative;
  align-items: end;
  width: 100%;
}
@media (max-width: 48.125rem) {
  .container--hero {
    flex-flow: column;
    align-items: center;
    gap: 3.12rem;
  }
}
.container--passo, .container--eventos {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 6rem;
}
@media (max-width: 48.125rem) {
  .container--passo, .container--eventos {
    gap: 3.9rem;
  }
}
.container--organizando {
  position: relative;
  width: 100%;
}
@media (max-width: 48.125rem) {
  .container--organizando {
    flex-flow: column;
    align-items: center;
    gap: 2rem;
  }
}

.grid--passo {
  grid-template-columns: repeat(3, 1fr);
  row-gap: 6rem;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
@media (max-width: 48.125rem) {
  .grid--passo {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3.12rem;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
@media (max-width: 30rem) {
  .grid--passo {
    grid-template-columns: 1fr;
  }
}
.grid--eventos {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 4rem;
}
@media (max-width: 48.125rem) {
  .grid--eventos {
    gap: 2rem;
  }
}
@media (max-width: 30rem) {
  .grid--eventos {
    grid-template-columns: 1fr;
    align-self: center;
    gap: 3.12rem;
  }
}

.div-lira {
  position: absolute;
  transform: translateX(7%);
  display: flex;
  width: 70rem;
  right: 0;
  bottom: 0;
}
@media (max-width: 48.125rem) {
  .div-lira {
    position: relative;
    transform: none;
    width: 100%;
    max-width: 53rem;
  }
}

.disclaimer__paragrafo {
  font-size: 1.33rem;
}

.passos-cabecalho {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 1.6rem;
}

.img-seta {
  width: 4.1rem;
}
@media (max-width: 48.125rem) {
  .img-seta {
    width: 3.98rem;
  }
}
@media (max-width: 30rem) {
  .img-seta {
    width: 3rem;
  }
}

.img-lira {
  grid-column: 2;
  grid-row: 1/span 2;
  align-self: center;
}
@media (max-width: 48.125rem) {
  .img-lira {
    grid-row: auto;
    grid-column: 1/span 2;
    max-width: 27.5rem;
    justify-self: center;
  }
}
@media (max-width: 30rem) {
  .img-lira {
    grid-row: auto;
    grid-column: auto;
  }
}

.cabecalho-titulos {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 1.6rem;
}

.img-eventos {
  border-radius: 2rem;
  transition: transform 200ms ease;
}
.img-eventos:hover {
  transform: scale(1.05);
}
@media (max-width: 30rem) {
  .img-eventos {
    max-width: 48rem;
  }
}

.organizando {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 3.12rem;
  max-width: 50%;
  width: 100%;
  margin-bottom: 6.1rem;
  color: #fff;
}
@media (max-width: 48.125rem) {
  .organizando {
    align-items: center;
    margin-bottom: 0;
  }
}
@media (max-width: 30rem) {
  .organizando {
    max-width: 53rem;
  }
}
.organizando__cabecalho {
  border-left: solid 4px #eebe2a;
  padding-left: 2rem;
}
.organizando__textos {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 2rem;
}
.organizando__textos span {
  color: #eebe2a;
  font-weight: 600;
}

.img-lira-hashtag {
  position: absolute;
  width: 45rem;
  bottom: 0;
  right: 0;
}
@media (max-width: 48.125rem) {
  .img-lira-hashtag {
    position: static;
    max-width: 40rem;
    width: 100%;
  }
}

.passo {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 1.6rem;
}
.passo__cabecalho {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 0.8rem;
}
.passo__caixa-icone {
  width: 4.3rem;
  height: 4.3rem;
  background-color: #256783;
  padding: 0.82rem;
  border-radius: 0.8rem;
}
.passo__icone {
  max-width: 100%;
}
.passo__titulo--azul {
  color: #256783;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3MvYWJzdHJhY3RzL19oZWxwZXJzLnNjc3MiLCJzdHlsZS5jb21wLmNzcyIsIi4uL3Nhc3MvYmFzZS9fYmFzZS5zY3NzIiwiLi4vc2Fzcy9iYXNlL190eXBvZ3JhcGh5LnNjc3MiLCIuLi9zYXNzL2xheW91dC9fbGF5b3V0LnNjc3MiLCIuLi9zYXNzL2NvbXBvbmVudHMvX2NhaXhhLnNjc3MiLCIuLi9zYXNzL2NvbXBvbmVudHMvX2Zvb3Rlci5zY3NzIiwiLi4vc2Fzcy9jb21wb25lbnRzL19wb3B1cC5zY3NzIiwiLi4vc2Fzcy9wYWdlcy9faW5zY3JpY2FvLnNjc3MiLCIuLi9zYXNzL3BhZ2VzL19wYXNzby5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQWtEQTtFQUNFLGtCQUFBO0VBQ0EsY0FBQTtBQ2pERjtBRG9DSTtFQVdKO0lBSUksa0JBQUE7RUMvQ0Y7QUFDRjtBRG1DSTtFQU9KO0lBT0ksa0JBQUE7RUM3Q0Y7QUFDRjs7QURnREE7RUFDRSxrQkFBQTtFQUNBLGdCQUFBO0VBQ0EsZ0JBQUE7QUM3Q0Y7O0FEZ0RBO0VBQ0UsbUJBQUE7RUFDQSxvQkFBQTtFQUNBLGVBQUE7RUFDQSxzQkFBQTtFQUNBLHVCQUFBO0VBQ0Esd0JBQUE7RUFDQSxnQkFBQTtFQUNBLHlCQUFBO0VBQ0Esa0JBQUE7QUM3Q0Y7QUQ4Q0U7RUFDRSxpQkFBQTtBQzVDSjs7QURnREE7RUFDRSx5QkF2RWtCO0VBd0VsQiw4QkFBQTtFQUNBLDJDQUFBO0FDN0NGOztBRCtDQTtFQUNFLGtCQUFBO0FDNUNGOztBRExJO0VBbURKO0lBRUksaUJBQUE7RUMzQ0Y7QUFDRjs7QUM1Q0E7RUFDRSxTQUFBO0VBQ0EsVUFBQTtFQUNBLHNCQUFBO0FEK0NGOztBQzVDQTtFQUNFLGdCQUFBO0FEK0NGO0FEN0JJO0VFbkJKO0lBSUksaUJBQUE7RURnREY7QUFDRjtBRDlCSTtFRXZCSjtJQU9JLGNBQUE7RURrREY7QUFDRjs7QUMvQ0E7RUFDRSxXQUFBO0VBQ0EsZUFBQTtFQUNBLGNBQUE7QURrREY7O0FFMUVBOztFQUFBO0FBSUE7RUFDRSxxQ0FBQTtFQUNBLGlCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxjSExVO0FDaUZaOztBRXpFQTs7RUFFRSxnQkFBQTtBRjRFRjs7QUV6RUE7RUFFRSxnQkFBQTtBRjJFRjtBRTFFRTtFQUNFLGNIYmE7RUdjYixnQkFBQTtBRjRFSjtBRHhESTtFR2xCRjtJQUVJLGtCQUFBO0VGNEVKO0FBQ0Y7O0FFeEVBO0VBRUUsWUFBQTtBRjBFRjtBRXhFRTtFQUNFLGNIMUJVO0FDb0dkOztBR3pHQTtFQUNFLGFBQUE7RUFDQSxpQkFBQTtFQUVBLG9CQUFBO0FIMkdGOztBR3hHQTtFQUNFLGFBQUE7RUFDQSxpQkFBQTtFQUNBLFlBQUE7QUgyR0Y7O0FHeEdBO0VBQ0UsYUFBQTtBSDJHRjs7QUk3SEE7RUFDRSxVQUFBO0VBQ0Esa0JBQUE7RUxrQkEsYUFBQTtFQUNBLHdCQUFBO0VBQ0EsbUJLbkI0QztFTG9CNUMsc0JBTlU7RUFPVixTS3JCMEQ7RUFDMUQseUJBQUE7RUFDQSxxQkFBQTtFQUNBLHFCQUFBO0VBQ0EsdUJBQUE7RUFDQSxjQUFBO0VBQ0Esb0RBQUE7QUpvSUY7QUR4R0k7RUtyQ0o7SUFZSSxnQkFBQTtJQUNBLGdCQUFBO0VKcUlGO0FBQ0Y7QUluSUU7RUFDRSxrQkFBQTtFQUNBLE1BQUE7RUFDQSxRQUFBO0VBQ0EsK0JBQUE7RUFDQSx5QkxqQmM7RUFnQmhCLGFBQUE7RUFDQSxxQkFBQTtFQUNBLG1CQUFBO0VBQ0Esc0JBTlU7RUFPVixTQU5NO0VLS0osYUFBQTtFQUNBLGNBQUE7RUFDQSxlQUFBO0VBQ0EsK0NBQUE7RUFDQSxrQkFBQTtBSnlJSjtBSXRJRTtFTFZBLGFBQUE7RUFDQSx3QkFBQTtFQUNBLG1CS1M4QztFTFI5QyxzQkFOVTtFQU9WLFlLTzREO0FKNEk5RDtBSXpJRTtFQUVFLGNMNUJjO0VLNkJkLGtCQUFBO0FKMElKO0FJcElJO0VBQ0UsY0x0Q2E7QUM0S25CO0FJbElFO0VBQ0UsZ0JBQUE7RUFDQSxrQkFBQTtFQUNBLGdCQUFBO0VML0JGLGFBQUE7RUFDQSx3QkFBQTtFQUNBLG9CQU5RO0VBT1Isc0JBTlU7RUFPVixZSzRCNEM7QUp3STlDO0FJcklFO0VMbkNBLGFBQUE7RUFDQSxxQkFBQTtFQUNBLGtCS2tDMEI7RUxqQzFCLHNCQU5VO0VBT1YsWUtnQ3VDO0FKMkl6QztBSXhJRTtFQUNFLGFBQUE7RUFDQSxtQkFBQTtBSjBJSjs7QUt2TUE7RUFDRSxxQkFBQTtBTDBNRjtBS3hNRTtFQUNFLGFBQUE7RUFDQSxjQUFBO0FMME1KO0FEdEtJO0VNdENGO0lBS0ksV0FBQTtJQUNBLFlBQUE7RUwyTUo7QUFDRjs7QUt2TUE7RUFDRSxvQkFBQTtFQUNBLG1CQUFBO0VBQ0EsV0FBQTtBTDBNRjtBRHRMSTtFTXZCSjtJQU1JLHVCQUFBO0VMMk1GO0FBQ0Y7QUR2TEk7RU0zQko7SUFVSSxpQkFBQTtJQUNBLHVCQUFBO0VMNE1GO0VLMU1FO0lBQ0UsYUFBQTtFTDRNSjtBQUNGO0FLek1FO0VBQ0UscUJBQUE7RUFDQSxjQUFBO0FMMk1KOztBTTVPRTtFQUNFLGFBQUE7QU4rT0o7O0FNM09BO0VBQ0UsWUFBQTtFQUNBLGVBQUE7RUFDQSxNQUFBO0VBQ0EsU0FBQTtFQUNBLFFBQUE7RUFDQSxPQUFBO0VBQ0EsYUFBQTtFQUNBLG1CQUFBO0VBQ0EsdUJBQUE7RUFDQSxXQUFBO0VBQ0EsMENBQUE7RUFDQSwwQkFBQTtBTjhPRjtBTXBPRTtFQUNFLHNCQUFBO0VBQ0EsWUFBQTtFQUNBLGNBQUE7RUFDQSxxREFBQTtFQUNBLGdCQUFBO0VBQ0EsbUJBQUE7RUFDQSxrQkFBQTtFUGZGLGFBQUE7RUFDQSx3QkFBQTtFQUNBLG9CQU5RO0VBT1Isc0JBTlU7RUFPVixTT1k0QztBTjBPOUM7QU12T0U7RUFDRSxhQUFBO0VBQ0EsaUJBQUE7RUFDQSxXQUFBO0FOeU9KO0FNdE9FO0VBQ0Usd0JBQUE7RUFDQSxtQkFBQTtFQUNBLHNCQUFBO0VBQ0Esa0JBQUE7QU53T0o7QU10T0k7RUFDRSxxQlAzQ1E7QUNtUmQ7QU1yT0k7RUFDRSxhQUFBO0VBQ0EsNENBQUE7QU51T047QU1uT0U7RUFDRSxrQkFBQTtFQUNBLE1BQUE7RUFDQSxRQUFBO0VBQ0EsK0JBQUE7RVA3Q0YsYUFBQTtFQUNBLHFCQUFBO0VBQ0EsbUJPNEMwQjtFUDNDMUIsdUJPMkM0QztFUDFDNUMsU08wQzBEO0VBQ3hELGFBQUE7RUFDQSxjQUFBO0VBQ0Esa0JBQUE7RUFDQSxnQkFBQTtFQUNBLGNBQUE7RUFDQSxzQkFBQTtFQUNBLGtCQUFBO0VBQ0EsV0FBQTtFQUNBLGVBQUE7QU55T0o7QU12T0k7RUFDRSw4REFBQTtFQUNBLHlCUHRFUTtBQytTZDtBTXRPSTtFQUNFLG1CQUFBO0FOd09OOztBT3hURTtFQUNFLG9JQUFBO0VBQ0Esc0JBQUE7RUFDQSx3QkFBQTtFQUNBLDRCQUFBO0VBQ0EsaUJBQUE7RUFDQSxnQkFBQTtBUDJUSjtBRC9SSTtFUWxDRjtJQVNJLDJJQUFBO0VQNFRKO0FBQ0Y7QURoU0k7RVF0Q0Y7SUFZSSx1QkFBQTtFUDhUSjtBQUNGO0FPM1RFO0VBQ0UseUJSZlE7RVFnQlIscUJBQUE7RUFDQSxxREFBQTtBUDZUSjtBTzFURTtFQUNFLHNLQUFBO0VBQ0EsMEJBQUE7RUFDQSwyQkFBQTtFQUNBLDRCQUFBO0VBQ0Esc0JBQUE7RUFDQSxrQkFBQTtFQUNBLGlCQUFBO0VBQ0Esa0JBQUE7QVA0VEo7QUR4VEk7RVFaRjtJQVdJLHFLQUFBO0lBQ0Esa0JBQUE7SUFDQSxpQkFBQTtFUDZUSjtBQUNGOztBT3hURTtFQUNFLGtCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxXQUFBO0FQMlRKO0FEclVJO0VRT0Y7SUFNSSxpQkFBQTtJQUNBLG1CQUFBO0lBQ0EsWUFBQTtFUDRUSjtBQUNGO0FPelRFO0VScENBLGFBQUE7RUFDQSx3QkFBQTtFQUNBLG9CQU5RO0VBT1Isc0JBTlU7RUFPVixTUWtDNEM7QVA4VDlDO0FEblZJO0VRbUJGO0lBS0ksV0FBQTtFUCtUSjtBQUNGO0FPNVRFO0VBQ0Usa0JBQUE7RUFDQSxXQUFBO0FQOFRKO0FENVZJO0VRNEJGO0lBS0ksaUJBQUE7SUFDQSxtQkFBQTtJQUNBLFNBQUE7RVArVEo7QUFDRjs7QU8xVEU7RUFDRSxxQ0FBQTtFQUNBLGFBQUE7RUFDQSxxQkFBQTtPQUFBLGdCQUFBO0FQNlRKO0FEeldJO0VReUNGO0lBTUkscUNBQUE7SUFDQSxnQkFBQTtJQUNBLHFCQUFBO1NBQUEsZ0JBQUE7RVA4VEo7QUFDRjtBRDVXSTtFUXFDRjtJQVdJLDBCQUFBO0VQZ1VKO0FBQ0Y7QU83VEU7RUFDRSxxQ0FBQTtFQUNBLGtDQUFBO0VBQ0EsU0FBQTtBUCtUSjtBRDFYSTtFUXdERjtJQU1JLFNBQUE7RVBnVUo7QUFDRjtBRDNYSTtFUW9ERjtJQVVJLDBCQUFBO0lBQ0Esa0JBQUE7SUFDQSxZQUFBO0VQaVVKO0FBQ0Y7O0FPM1RBO0VBQ0Usa0JBQUE7RUFDQSx5QkFBQTtFQUNBLGFBQUE7RUFDQSxZQUFBO0VBQ0EsUUFBQTtFQUNBLFNBQUE7QVA4VEY7QUQvWUk7RVEyRUo7SUFTSSxrQkFBQTtJQUNBLGVBQUE7SUFDQSxXQUFBO0lBQ0EsZ0JBQUE7RVArVEY7QUFDRjs7QU8xVEE7RUFDRSxrQkFBQTtBUDZURjs7QU96VEE7RVJuSEUsYUFBQTtFQUNBLHFCQUFBO0VBQ0EsbUJRa0h3QjtFUmpIeEIsc0JBTlU7RUFPVixXUWdIc0M7QVBnVXhDOztBTzdUQTtFQUNFLGFBQUE7QVBnVUY7QUR2YUk7RVFzR0o7SUFHSSxjQUFBO0VQa1VGO0FBQ0Y7QUR4YUk7RVFrR0o7SUFNSSxXQUFBO0VQb1VGO0FBQ0Y7O0FPalVBO0VBQ0UsY0FBQTtFQUNBLGtCQUFBO0VBQ0Esa0JBQUE7QVBvVUY7QUR2Ykk7RVFnSEo7SUFNSSxjQUFBO0lBQ0EscUJBQUE7SUFDQSxrQkFBQTtJQUNBLG9CQUFBO0VQcVVGO0FBQ0Y7QUQzYkk7RVE0R0o7SUFZSSxjQUFBO0lBQ0EsaUJBQUE7RVB1VUY7QUFDRjs7QU9uVUE7RVJuSkUsYUFBQTtFQUNBLHFCQUFBO0VBQ0EsbUJRa0p3QjtFUmpKeEIsc0JBTlU7RUFPVixXUWdKc0M7QVAwVXhDOztBT3ZVQTtFQUNFLG1CQUFBO0VBQ0EsZ0NBQUE7QVAwVUY7QU94VUU7RUFDRSxzQkFBQTtBUDBVSjtBRGpkSTtFUWtJSjtJQVNJLGdCQUFBO0VQMFVGO0FBQ0Y7O0FPclVBO0VSdEtFLGFBQUE7RUFDQSx3QkFBQTtFQUNBLG9CQU5RO0VBT1Isc0JBTlU7RUFPVixZUW1LMEM7RUFDMUMsY0FBQTtFQUNBLFdBQUE7RUFDQSxxQkFBQTtFQUNBLFdBQUE7QVA0VUY7QUR0ZUk7RVFxSko7SUFRSSxtQkFBQTtJQUNBLGdCQUFBO0VQNlVGO0FBQ0Y7QUR4ZUk7RVFpSko7SUFZSSxnQkFBQTtFUCtVRjtBQUNGO0FPOVVFO0VBQ0UsOEJBQUE7RUFDQSxrQkFBQTtBUGdWSjtBTzdVRTtFUnpMQSxhQUFBO0VBQ0Esd0JBQUE7RUFDQSxvQkFOUTtFQU9SLHNCQU5VO0VBT1YsU1FzTDRDO0FQbVY5QztBT2pWSTtFQUNFLGNSeE1RO0VReU1SLGdCQUFBO0FQbVZOOztBTzlVQTtFQUNFLGtCQUFBO0VBQ0EsWUFBQTtFQUNBLFNBQUE7RUFDQSxRQUFBO0FQaVZGO0FEdmdCSTtFUWtMSjtJQU9JLGdCQUFBO0lBQ0EsZ0JBQUE7SUFDQSxXQUFBO0VQa1ZGO0FBQ0Y7O0FRbmpCQTtFVG9CRSxhQUFBO0VBQ0Esd0JBQUE7RUFDQSxvQkFOUTtFQU9SLHNCQU5VO0VBT1YsV1N2QjBDO0FSMGpCNUM7QVF6akJFO0VUa0JBLGFBQUE7RUFDQSxxQkFBQTtFQUNBLG1CU25CMEI7RVRvQjFCLHNCQU5VO0VBT1YsV1NyQndDO0FSK2pCMUM7QVE1akJFO0VBQ0UsYUFBQTtFQUNBLGNBQUE7RUFDQSx5QlRGYTtFU0diLGdCQUFBO0VBQ0EscUJBQUE7QVI4akJKO0FRM2pCRTtFQUNFLGVBQUE7QVI2akJKO0FReGpCSTtFQUNFLGNUZFc7QUN3a0JqQiIsImZpbGUiOiJzdHlsZS5wcmVmaXguY3NzIn0= */